<h1>Here's Your Game</h1>



<p>
<p>
<table id="chess-board">
<% 8.times do |j|%>
  <tr>
    <% 8.times do |i|%>
      <% if @piece.xcoordinate==i && @piece.ycoordinate==7-j %>
        <td class="highlighted">
      <% elsif i.even? && j.odd? %>
        <td class="black">
      <% elsif i.odd? && j.even? %>
        <td class="black">
      <% else %>
        <td>
      <% end %>

      	<%  @game.pieces.all.each do |piece| %>
      	<%		if piece.xcoordinate==i     %>
      	<%			if piece.ycoordinate==7-j %>
      	<%=        link_to(raw(piece.code), :controller => "pieces", :action => "show" , :id => piece.id) %>
      	<%			end 					%>
      	<%		end 						%>
      	<%	end                             %>

      </td>
    <% end %>
  </tr> 
<% end %> 
</table>



<script>
  $("#chess-board td").click(function() {
    console.log(this);
  });

  

</script>