@import "bootstrap";


#chess-board {
  
}

#chess-board td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
  font-color: black;
}

#chess-board td.highlighted {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
  font-color: black;
  background-color: blue;
}

#chess-board td.black {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
  font-color: black;
  background-color: gray;
}

#chess-board td.legalmove {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
  font-color: black;
  background-color: green;
}


#chess-board a.piece:link, a.piece:visited, a.piece:hover {
	color: black;
}

