@import "bootstrap";


#chess-board {
  
}

#chess-board td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
  font-color: black;
}

#chess-board td.highlighted {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
  font-color: black;
  background-color: blue;
}

#chess-board td.black {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
  font-color: black;
  background-color: gray;
}



#chess-board a:link, a:visited, a:hover {
	color: black;
}




